body {
	width: 100%;
	height: 1400px;	
	margin: 0px;	

}
.bg-landing {
	width: 100%;
	height: 1400px;
	margin: 0px;
	background-image: url(../images/form.jpeg);
	background-size: cover;

}
.dark-scarf {
	width: 100%;
	height: 1400px;
	background-color: rgba(0,0,0,0.7);
}
.header {
	color: white;
	text-align: center;
	padding-top: 50px;
}
.header h1 {
	margin-bottom: 0px;
}
.header span{
	font-style: italic;
}
.form {
	width: 50%;
	height: 1200px;
	background-color: #000060;
	margin-top: 30px;
	margin-left: 350px;
	border-radius: 10px;
}
.form-input {
	width: 90%;
	margin-left: 20px;
	padding-top: 40px;
	color: white;
	font-size: 20px;
	line-height: 30px;
}
#name, #email, #age, #dropdown, textarea {
	width: 100%;
	border-radius: 5px;
	height: 30px;
	border-style: none;
}

select {
	margin-top: 0px;
}

.form-input p {
	margin-bottom: 0px;
}
textarea {
	height: 100px;
}
button {
	width: 100%;
	background-color: green;
	height: 50px;
	border-radius: 5px;
	border-style: none;
	margin-top: 20px;